.page-header
  h1= @merchant.name

h1 Editing product

== render 'form'

=<> link_to 'Show', [@merchant, @product], class: 'btn btn-success'
=<> link_to 'Back', merchant_path(@merchant), class: 'btn btn-default'


